body {
  margin: 0;
}

.page {
  padding: 0px 30px;
}

#footer {
  text-align: center;
  margin-top: 50px;
}

/* Navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
/* End Navbar */


/* 404 page */
#not-found {
  padding-top: 120px;
  text-align: center;
}

#not-found-h1 {
  margin: 0;
  font-size: 150px;
  line-height: 150px;
  font-weight: bold;
}

#not-found-h2 {
  margin-top: 20px;
  font-size: 30px;
}
/* End 404 */
